body {
	padding: 0 10vw;
	margin: 0;
	background: linear-gradient(90deg, #474752 20px, transparent 1%) center, linear-gradient(#474752 20px, transparent 1%) center, #636363;
	background-size: 22px 22px;
}

table input {
    width: 20px;
    border: none;
    text-align: center;
}

td {
	padding: 5px;
    border: 3px solid #00b0ff;
}

section {
    display: none;
	overflow: hidden;
}

h1 {
	font: 900 22px / 1 Arial;
	margin: 10px 0 60px;
	text-align: center;
	color: white;
}

button {
	padding: 10px;
	font-weight: 800;
	background: #00b0ff;
	color: white;
	border: 0;
}

#newTable {
	margin-bottom: 30px;
	width: 100%;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

.hidden {
    display: none;
}

.better-strategy {
    background-color: rgba(0, 187, 0, .75);
}

.row-selector,
.column-selector {
	position: relative;
}

.row-selector {
    width: 20px;
    border: none;
}

.selected-column,
.selected-row {
    background-color: rgba(181, 3, 3, .5);
}

.deleted-row-column {
    background-color: rgba(181, 3, 3, .81);
}

table input {
    background-color: transparent;
}

tbody th {
    width: 20px;
}

th {
	text-transform: uppercase;
}

tfoot td {
    position: relative;
    height: 20px;
    border: none;
}

.fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

table {
    position: relative;
}

#autoResolveTablesWrapper table {
    margin-bottom: 30px;
}

.gate-wrapper {
	position: relative;
	margin-bottom: 60px;
}

.gate-wrapper:not(:last-of-type) {
	margin-right: 50px;
}

.show {
	display: flex;
}

.gate {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    color: #377d6a;
    background: #efefef;
    border: 0;
    outline: 0;
    text-indent: 92px;
    transition: all 0.3s ease-in-out;
}

.gate,
label,
table {
    font: 400 15px/1 Arial;
}
table input,
table th{
	font-weight: 600;
	color: white;
}
table th {
	padding: 5px;
}
h2 {
	font: 600 25px/1 Arial;
	color: white;
	margin-bottom: 30px;
}
.gate + label {
    display: inline-block;
    position: absolute;
    top: 0;
	bottom: 0;
    left: 0;
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    transition: all .4s ease-in-out;
    transform-origin: left bottom;
    z-index: 1;
	color: white;
	font-weight: 600;
}

.gate + label:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #00b0ff;
	will-change: transform;
    transform-origin: left bottom;
    transition: all 0.4s ease-in-out;
    pointer-events: none;
    z-index: -1;
}

.gate-wrapper .gate:focus,
.gate-wrapper .gate:active {
    text-indent: 0;
    background: #fff;
}

.gate:focus + label,
.gate:active + label {
    transform: rotate(-66deg);
}

.numberOfPaids .gate{
	text-indent: 82px;
}

.arrow {
	position: absolute;
	pointer-events: none;
	top: 50%;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top: 4px solid white;
	border-right: 4px solid white;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
}
.arrow.left {
	left: 10px;
	transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.top {
	right: 0;
	transform: translate3d(-130%, -30%, 0) rotate(-45deg);
}

.row-selector:hover .arrow,
.column-selector:hover .arrow{
	border-color: orange;
	box-shadow: 2px -2px 0 white;
}

.arrow:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-40%, -60%) rotate(45deg);
	transform: translate(-40%, -60%) rotate(45deg);
	width: 200%;
	height: 200%;
}